
.error404 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: midnightblue;
}
.error404 img {
    width: 50px;
}